
/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

/*General*/

a{
    color: black;
    text-decoration: none;
}

img{
    width: 100%;
}

.button{

    display: inline-block;
    background-color:#0060FD ;
    color: white;
    padding: 2px 4px;
    width: fit-content;
}

h1{
    width: 60%;
    font-size: 4rem;
    margin: 0 auto;
    text-align: left;
}
/*Header*/


.header-top{

    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.header-top ul {

    display: flex;
    list-style: none;
    align-items: center;
    
    
}

.header-top ul li{

    margin-left: 30px;

}

.top-right ul li:last-of-type{

    margin-right: 30px;
}

.container-h-bottom{

    background-color:#B4D0E7;
    width: 100%;
    

}

.header-bottom{

    position: relative;
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding: 50px 0 0;
}

.header-bottom-left{
    
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header-bottom-right{

    position: absolute;
    top: 50px;
    right: 0;
    width: 60%;
    
}

.header-bottom-left > * {

    margin-bottom: 15px;
}

.arrow-down{

    font-size: 2rem;
    margin: 0px 0 0px;
    
}


/*Main*/

/*footer*/