
/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

/*General*/

header a{
    color: black;
    text-decoration: none;
}

img{
    width: 100%;
}

.button{

    display: inline-block;
    background-color:#0060FD ;
    color: white;
    width: fit-content;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px 0;
    font-size: 0.7rem;

}

.small-button{

    width: fit-content;
    height: fit-content;
}

.button-white{

    color: black;
    background-color: white;
    border: 1px solid black;
    
}

h1{
    width: 60%;
    font-size: 4rem;
    margin: 0 auto;
    text-align: left;
}

.price{

    font-weight: bold;
    margin-bottom: 10px;

}

.text-light-grey{

    display: inline-block;
    color: lightgrey;
    
}

.check{

    color:#0E67FF;
}

.first-section-row hr{

    width: 40px;
    margin:20px 10px;
}


/*Header*/

header{

    position: relative;
}

.header-top{

    position: fixed;
    z-index: 1;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
}

.header-top ul {

    display: flex;
    list-style: none;
    align-items: center;
    
    
}

.header-top ul li{

    margin-left: 30px;

}

.top-right ul li:last-of-type{

    margin-right: 30px;
}

.container-h-bottom{

    background-color:#B4D0E7;
    width: 100%;
    padding-top: 80px;
    

}

.header-bottom{

    position: relative;
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding: 50px 0 0;
    
}

.header-bottom-left{
    
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header-bottom-right{

    position: absolute;
    top: 50px;
    right: 0;
    width: 60%;
    
}

.header-bottom-left > * {

    margin-bottom: 15px;
}

.arrow-down{

    font-size: 2rem;
    margin-bottom: 0;
    
}


/*Main*/

.container-first-section{

    width: 50%;
    margin: 0 auto;
    padding-top: 80px;
}

.container-first-section h2{

    font-size: 2rem;
    padding-bottom: 30px;

}

.container-first-section span{

    padding-right: 30px;
}

.first-section-row{

    display: flex;
    padding-top: 40px;

}

.first-section-row .column{

    border: 0.2px solid #ACACAD;
    padding-bottom: 30px;
    width: calc(100% / 3);

}
.first-section-row .column:nth-child(2){

    margin: 0 30px;
}

.first-section-row .column h4{

    padding: 10px 0;
    border-bottom: 0.2px solid #ACACAD;
    text-align: center;
}

.first-section-row .column h3{

    margin-bottom: 20px;
}



.content-column-top ul {

    margin:30px 0;
    list-style: none;
    align-items: center;
    
}

.content-column-top ul li{

    padding-top: 10px;

}

.first-section-row .content-column-top,
.first-section-row .content-column-bottom  {

    padding: 0 10px;
}

.first-section-bottom{

    width: 100%;
    margin: 40px auto 0;
    border: 0.2px solid #ACACAD;

}

.first-section-bottom h4{

   
    text-align: center;
    border-bottom: 0.2px solid #ACACAD;
    padding: 10px 0;
}

.first-section-bottom .bottom-row{

    position: relative;
    padding: 20px;
}

.first-section-bottom .bottom-row h5{

    
    padding: 30px 0 60px;

}

.first-section-bottom .bottom-row a{

    position: absolute;
    top: 20px;
    right: 20px;
}

.second-section{

    display:flex;
    width: 50%;
    margin:100px auto;
}

.second-section .left{

    width: 60%;
}

.second-section .right{
    width: 40%;
    padding-left: 40px;
}

.second-section .right h3,
.second-section .right p{

    padding: 20px 0;
}

.third-section{

    width: 50%;
    margin:100px auto;

}

.third-section h2{

    font-size: 2rem;
    margin-bottom: 60px;
}

.third-section-row,
.fourth-section-top{

    display: flex;
    flex-wrap: wrap;
    margin: 60px 0;

}

.col-th-section,
.col-ft-section{

    width: calc(100% / 3);
    margin-bottom: 30px;
}

.col-th-section:nth-child(2){

    padding-right: 20px;
    padding-left: 20px;
}


.col-th-section h3{

    margin: 30px 0;
    

}

.third-section-bottom{

    width: 60%;
    margin: 100px auto 0 0;
    

}


.col-ft-section.logos{

    display: flex;
    flex-wrap: wrap;
}

.col-ft-section.logos .img-logo{
    
    width: calc(100% / 2);
    padding: 80px 60px;
    align-content: center;

}

.img-logo img{

    filter: invert(1);
    display: block;
    
    
}

.img-logo.bg-green{

    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
    
}

.img-logo.bg-bordeaux{

    background-color:#61082B ;
}
.img-logo.bg-sky-blue{

    background-color:#0093CE ;
}

.img-logo.bg-orange-red{

    background-color: #FF1C1C;
}

.img-logo.bg-red{

    background-color:#D5001F ;
}
.img-logo.bg-light-blue{

    background-color: #B4D0E7;
}
.img-logo.bg-blue{

    background-color: #0D2481;
}
.img-logo.bg-yellow{

    background-color: #FFD830;
}

.col-ft-section:nth-child(2){

    padding: 0 30px;
}

.col-ft-section .center-logo{

    width: 40%;
    padding-top: 30px;
    
}

.col-ft-section hr{

    width: 20%;
    margin: 30px 0;
}

.col-ft-section p{

    margin-top: 30px;
}
/*footer*/